.DS_Store
/training_data/
/ML/
/plots/
/models/
/molecule_dataset/
/params_dataset/
/denoising/denoising_models/
/denoising/denoising_results_loss_comparison/
/denoising_results_loss_comparison/
/denoising/inference_results/
/denoising/debug*
/rf/models/
/rf/debug*
.*
._*
/.venv/
!/.gitignore
/__pycache__/
*.pyc
/clustering/results
/clustering/debug*
/task_specific/
/unprocessed_data/