/training_data/
/ML/
/plots/
/models/
/.venv/
.DS_Store
/molecule_dataset/
/params_dataset/
/denoising/denoising_models/
/denoising/denoising_results_loss_comparison/
/*/debug*
/rf/models/
__pycache__/
*.pyc
.*
._*
!/.gitignore